<div>
  <%= link_to :Go_back_to_index, ingredients_path, class: "btn btn-success" %>
</div>

<div>
  name: <%=@ingredient.ingredient_name%>
</div>

<div>
  ingredient_quantity: <%=@ingredient.ingredient_quantity%>
</div>

<div>
  quantity_measure: <%=@ingredient.quantity_measure%>
</div>

<div>
  sign: <%=@ingredient.sign%>
</div>
