<h1>Restaurants#edit</h1>
<%= form_for @restaurant do |r|%>
  <div>
    <%= r.label :name%><br />
    <%= r.text_field :name%>
  </div>
  <div>
    <%= r.label :sign%><br />
    <%= r.text_field :sign%>
  </div>
  <div>
    <%= r.label :price%><br />
    <%= r.text_field :price%>
  </div><br />
  <%= r.submit %>
<%end%>
